language: elixir
otp_release:
  - 20.0
elixir:
  - 1.6.1

env:
  global:
    - MIX_ENV=test

cache:
  directories:
    - _build
    - deps

script:
  - mix credo --strict
#  - mix dialyzer --halt-exit-status
  - mix do compile --warnings-as-errors, coveralls.json
  - mix format --check-formatted

after_success:
  - bash <(curl -s https://codecov.io/bash)